<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">gh-download-count</a>
    </div>
    <a class="header-link" href="https://github.com/manidlou/gh-download-count" target="_blank">This project on <i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
  </div>
</nav>
