<!DOCTYPE html>
<html lang="en">
  <% include dfs/head.ejs %>
  <body>
    <% include dfs/search.ejs %>
    
    <% if (err) { %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>error:</strong> <%= err %>
    </div>
    <% } %>
    
    <% if (norepo) { %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      no GitHub release found for <%= norepo %>. make sure the given name is a real GitHub repository name.
    </div>
    <% } %>
    
    <% include dfs/footer.ejs %>
    <% include dfs/dfjs.ejs %>
  </body>
</html>
