<!DOCTYPE html>
<html lang="en">
  <% include partials/head.ejs %>
  <body>
    <% include partials/header.ejs %>
    <div class="container-fluid">
    
    <% include partials/search.ejs %>
    
    <% if (err) { %>
    <div class="alert alert-danger alert-dismissible info" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Error:</strong> <%= err %>
    </div>
    <% } %>
    
    <% if (norepo) { %>
    <div class="alert alert-danger alert-dismissible info" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      No GitHub release found for <strong><i><%= norepo %></i></strong>. Please make sure the given name is a real GitHub repository name.
    </div>
    <% } %>
    </div>
    <% include partials/dfjs.ejs %>
  </body>
</html>
