<footer class="footer">
	<div class="footer-content">
    <a class="footer-cli" href="https://github.com/mawni/ghdl-cli" target="_blank">ghdl-cli on <i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
    <a class="footer-api" href="https://github.com/mawni/ghdl" target="_blank">ghdl api on <i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
  </div>
</footer>
