<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="ghdl web interface, get download count of a github release">
  <meta name="author" content="Mani Maghsoudlou">
  <link rel="stylesheet" href="/flatui/css/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/flatui/css/flat-ui.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/ga.js"></script>
  <title>GitHub Download Web Interface</title>
</head>
